[Unit]
Description=Mirai Twitter bot
Requires=mirai.service
Requires=puppeteer.service

[Service]
WorkingDirectory=%h/mirai-twitter-bot
ExecStart=%h/mirai-twitter-bot/bin/twitterbot config.json
#StandardOutput=append:%h/mirai-twitter-bot/twitterbot.log
#StandardError=append:%h/mirai-twitter-bot/twitterbot.log
Restart=always
RestartSec=2s

[Install]
WantedBy=default.target
